html,
body,
#app,
#app>div {
  height: 80%;
  background: #1A1A40;
}

body {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.App {
  text-align: center;
  background: #1A1A40;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.todo-btn:hover {
  transform: scale(1.1);
  background-color: white;
  color: black;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
  max-width: 50%;
}

.TodoWrapper {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.heading {
  color:white;
}

.task-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.edit-task-input {
  border-radius: 0;
  border: none;
  padding: 10px;
}